#main-app-container, #root, body {
    height: 100vh;
    max-height: 100vh;
    min-height: 100vh;
    width: 100vw;
    max-width: 100vw;
    min-width: 100vw;
    overflow: hidden;
    position: relative;
    margin: 0px !important;
    padding: 0px !important;
    border: 0px !important;
    outline: 0px !important;
}

a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
    margin: 0px;
    padding: 0px;
    border: 0px;
    font: inherit;
    vertical-align: baseline;
}

* {
    box-sizing: border-box;
}

div {
    display: block;
}

body {
    line-height: 1;
}

body {
    color:#ffff;
    margin: 0px;
    padding: 0px;
    border: 0px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
}

::-webkit-scrollbar, ::-webkit-scrollbar-track {
    display: none;
}

::-webkit-scrollbar-thumb {
    display: none;
}

::-webkit-scrollbar, ::-webkit-scrollbar-track {
    display: none;
}


#main-app-container, #root, body {
    height: 100vh;
    max-height: 100vh;
    min-height: 100vh;
    width: 100vw;
    max-width: 100vw;
    min-width: 100vw;
    overflow: hidden;
    position: relative;
    margin: 0px !important;
    padding: 0px !important;
    border: 0px !important;
    outline: 0px !important;
}

.jss101 {
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    position: absolute;
    max-width: 100vw;
    min-width: 100vw;
    max-height: 100vh;
    min-height: 100vh;
    pointer-events: none;
    border: 0px !important;
    margin: 0px !important;
    outline: 0px !important;
    padding: 0px !important;
    overflow: hidden !important;
}

div {
    display: block;
}

* {
    box-sizing: border-box;
}

.jss131 {
    width: 100vw;
    height: 100vh;
    display: flex;
    position: relative;
    flex-direction: column;
}

.jss139 {
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    position: absolute;
}


.jss141 {
    left: 8px;
    width: 100%;
    bottom: 6vh;
    height: 2vh;
    position: absolute;
}

.jss141 p {
    color:#ffff;
    text-shadow: rgb(55, 71, 79) -1px 1px 0px, rgb(55, 71, 79) 1px 1px 0px, rgb(55, 71, 79) 1px -1px 0px, rgb(55, 71, 79) -1px -1px 0px;
    width: 100% !important;
    font-style: normal !important;
    font-family: Arial, Helvetica, sans-serif !important;
    font-weight: 600 !important;
    font-variant: small-caps !important;
    letter-spacing: 0px !important;
    text-transform: none !important;
    text-decoration: none !important;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.jss140 {
    top: calc(74vh - 4px);
    left: 0.3125vw;
    width: 13.125vw;
    border: 4px solid rgb(189, 189, 189);
    height: 20vh;
    position: absolute;
    box-sizing: content-box;
    border-radius: 100%;
}

.jss142 {
    left: calc(14.375vw);
    width: 100%;
    bottom: 6vh;
    height: 20vh;
    display: flex;
    position: absolute;
    align-items: flex-end;
}

.jss142 > div {
    margin-right: 16px;
}

.jss147 {
    width: 62px;
    height: 62px;
    position: relative;
    margin-right: 35px;
}

.jss148 {
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    position: absolute;
}

.jss680 {
    width: 62px;
    height: 62px;
    position: relative;
}

.jss681 {
    width: 100%;
    height: 100%;
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: center;
}

svg:not(:root) {
    overflow: hidden;
}

.jss681 {
    width: 100%;
    height: 100%;
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: center;
}

.jss682 {
    width: 100%;
    height: 100%;
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: center;
}

.jss682 p {
    font-size: 20px !important;
}

.jss142 p {
    text-align: center;
    text-shadow: rgb(55, 71, 79) -1px 1px 0px, rgb(55, 71, 79) 1px 1px 0px, rgb(55, 71, 79) 1px -1px 0px, rgb(55, 71, 79) -1px -1px 0px;
    width: 100% !important;
    font-style: normal !important;
    font-family: Arial, Helvetica, sans-serif !important;
    font-weight: 600 !important;
    font-variant: small-caps !important;
    letter-spacing: 0px !important;
    text-transform: none !important;
    text-decoration: none !important;
}

.jss683 {
    width: 100%;
    height: 100%;
    display: flex;
    position: absolute;
    align-items: flex-end;
    justify-content: center;
}

.jss142 p {
    text-align: center;
    text-shadow: rgb(55, 71, 79) -1px 1px 0px, rgb(55, 71, 79) 1px 1px 0px, rgb(55, 71, 79) 1px -1px 0px, rgb(55, 71, 79) -1px -1px 0px;
    width: 100% !important;
    font-style: normal !important;
    font-family: Arial, Helvetica, sans-serif !important;
    font-weight: 600 !important;
    font-variant: small-caps !important;
    letter-spacing: 0px !important;
    text-transform: none !important;
    text-decoration: none !important;
}

.jss149 {
    right: -15px;
    width: 32px;
    bottom: -4px;
    height: 32px;
    position: absolute;
}

.jss709 {
    width: 32px;
    height: 32px;
    position: relative;
}

.jss710 {
    width: 100%;
    height: 100%;
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: center;
}

.jss710 {
    width: 100%;
    height: 100%;
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: center;
}

.jss711 {
    width: 100%;
    height: 100%;
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: center;
}

svg:not(:root).svg-inline--fa {
    overflow: visible;
}

.jss149 .svg-inline--fa {
    color: white;
    width: 14px;
    height: 14px;
}

.svg-inline--fa {
    display: inline-block;
    font-size: inherit;
    height: 1em;
    overflow: visible;
    vertical-align: -0.125em;
}

.jss712 {
    width: 100%;
    height: 100%;
    display: flex;
    position: absolute;
    align-items: flex-end;
    justify-content: center;
}

.jss150 {
    width: 32px;
    height: 62px;
    display: flex;
    align-items: center;
    justify-content: center;
}

svg:not(:root).svg-inline--fa {
    overflow: visible;
}


.MuiTypography-colorTextPrimary {
    color: #fff;
}
.MuiTypography-body1 {
    font-size: 1rem;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.00938em;
}

.MuiTypography-h6 {
    font-size: 1.25rem;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 500;
    line-height: 1.6;
    letter-spacing: 0.0075em;
}
.MuiTypography-root {
    margin: 0;
}

.MuiTypography-body2 {
    font-size: 0.875rem;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 400;
    line-height: 1.43;
    letter-spacing: 0.01071em;
}

.MuiFormControl-root {
    border: 0;
    margin: 0;
    display: inline-flex;
    padding: 0;
    position: relative;
    min-width: 0;
    flex-direction: column;
    vertical-align: top;
}.jss252 .Mui-focused, .jss252 .MuiFormControlLabel-root, .jss252 .MuiInput-underline:after, .jss252 .MuiInputAdornment-root {
    color: rgba(255, 255, 255, 0.7) !important;
    border-color: rgba(255, 255, 255, 0.7) !important;
}.MuiFormControlLabel-root {
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    margin-left: -11px;
    margin-right: 16px;
    vertical-align: middle;
    -webkit-tap-highlight-color: transparent;
}.jss253 {
    padding: 9px;
}.MuiIconButton-colorSecondary {
    color: #f2a365 !important;
}.MuiCheckbox-root {
    color: rgba(255, 255, 255, 0.7);
}.MuiTypography-body1 {
    font-size: 1rem;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.00938em;
}.MuiIconButton-label {
    width: 100%;
    display: flex;
    align-items: inherit;
    justify-content: inherit;
}.MuiTouchRipple-root {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
    overflow: hidden;
    position: absolute;
    border-radius: inherit;
    pointer-events: none;
}

.jss739 {
    width: 100%;
    height: 100%;
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: center;
}

.jss739 {
    width: 100%;
    height: 100%;
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: center;
}

.jss740 {
    width: 100%;
    height: 100%;
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: center;
}

.jss741 {
    width: 100%;
    height: 100%;
    display: flex;
    position: absolute;
    align-items: flex-end;
    justify-content: center;
}

.jss738 {
    width: 62px;
    height: 62px;
    position: relative;
}

.jss142 > div {
    margin-right: 16px;
}

.jss738 {
    width: 62px;
    height: 62px;
    position: relative;
}

.jss739 {
    width: 100%;
    height: 100%;
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: center;
}

.jss740 p {
    font-size: 20px !important;
}

.jss142 p {
    text-align: center;
    text-shadow: rgb(55, 71, 79) -1px 1px 0px, rgb(55, 71, 79) 1px 1px 0px, rgb(55, 71, 79) 1px -1px 0px, rgb(55, 71, 79) -1px -1px 0px;
    width: 100% !important;
    font-style: normal !important;
    font-family: Arial, Helvetica, sans-serif !important;
    font-weight: 600 !important;
    font-variant: small-caps !important;
    letter-spacing: 0px !important;
    text-transform: none !important;
    text-decoration: none !important;
}

.MuiTypography-root {
    margin: 0;
}

.direction {
  color: #111111;
  width: 180px;
  height: 30px;
  overflow: hidden;
  position: relative;
}

.direction>.image {
  height: 100%;
  background-position: center center;
  background-size: 360px 32px;
  background-repeat: repeat;
  width: 828%;
  position: relative; 
  z-index: 1;
  justify-content: center;
  background-image: url("https://gta-assets.nopixel.net/images/compass.png");
}