.jss13 {
  top: unset;
  left: unset;
  right: 20px;
  width: 280px;
  bottom: 12px;
  height: 652px;
  margin: unset;
  display: none;
  position: absolute;
  animation: 500ms ease 0s 1 normal none running ;
  min-width: 280px;
  transform: rotate(
0deg
) scale(1);
  min-height: 652px;
  transition: bottom 800ms ease 0s;
  transform-style: preserve-3d;
}
a, abbr, acronym, address, applet, article, aside, audio, b, big, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
* {
  box-sizing: border-box;
}
div {
  display: block;
}

.jss8 {
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  position: absolute;
  max-width: 100vw;
  min-width: 100vw;
  max-height: 100vh;
  min-height: 100vh;
  pointer-events: none;
  border: 0px !important;
  margin: 0px !important;
  outline: 0px !important;
  padding: 0px !important;
  overflow: hidden !important;
}

.jss69 {
  top: -8px;
  left: -4px;
  width: 288px;
  height: 668px;
  padding: 10px 6px;
  z-index: 10;
  position: absolute;
  background: black;
  box-sizing: border-box;
  border-radius: 12px;
}

.jss70 {
  top: 2px;
  left: 0px;
  width: 100%;
  height: calc(100% - 8px);
  content: "";
  z-index: 1;
  position: absolute;
  background: black;
  border-top: 2px solid rgb(159, 160, 162);
  box-shadow: rgb(255 255 255 / 50%) 0px 0px 6px 0px inset;
  border-bottom: 2px solid rgb(159, 160, 162);
  border-radius: 12px;
}

.jss71 {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: absolute;
  border-radius: 12px;
}

.jss72 {
  top: -0.5%;
  left: 10px;
  width: calc(100% - 20px);
  height: 101%;
  content: "";
  z-index: 5;
  position: absolute;
  box-shadow: white 0px 0px 60px 0px inset, rgb(255 255 255 / 50%) 0px 0px 30px 0px inset, white 0px 0px 20px 0px, rgb(255 255 255 / 50%) 0px 0px 20px 0px;
  border-radius: 24px;
  pointer-events: none;
}


.jss48 {
  width: 100%;
  height: 100%;
  padding: 0px;
  overflow: hidden scroll;
  max-height: 100%;
  min-height: 100%;
}

.jss37 {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
}

.jss38 {
  width: 54px;
  height: 54px;
  margin: 8px;
  display: flex;
  position: relative;
  align-items: center;
  border-radius: 14px;
  justify-content: center;
}





.jss38 {
  width: 54px;
  height: 54px;
  margin: 8px;
  display: flex;
  position: relative;
  align-items: center;
  border-radius: 14px;
  justify-content: center;
}

.jss14 {
  top: unset;
  left: unset;
  right: 328px;
  width: 280px;
  bottom: 12px;
  height: 652px;
  z-index: 20;
  position: absolute;
  min-width: 280px;
  min-height: 652px;
  pointer-events: all;
  margin: unset;
  overflow: hidden;
  background: url(https://i.imgur.com/JVPavDg.jpg) 0% 0% / cover no-repeat;
  transition: bottom 800ms ease 0s;
  border-radius: 6px;
  background-repeat: no-repeat;
}

.jss22 {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 24px;
  display: flex;
  z-index: 100;
  position: absolute;
  min-height: 24px;
  user-select: none;
  justify-content: center;
}

.jss24 {
  color: white;
  height: 24px;
  display: flex;
  padding: 0px 12px;
  min-width: 74px;
  min-height: 24px;
  align-items: center;
}

.jss25 {
  padding-right: 4px;
}

.jss27 {
  font-size: 0.75rem;
  line-height: 0;
  text-shadow: rgb(55 71 79) -1px 1px 0px, rgb(55 71 79) 1px 1px 0px, rgb(55 71 79) 1px -1px 0px, rgb(55 71 79) -1px -1px 0px;
}

.jss28 {
  flex: 1 1 0%;
  margin-left: 8px;
}

.jss23 {
  flex: 1 1 0%;
}

.jss24 {
  color: white;
  height: 24px;
  display: flex;
  padding: 0px 12px;
  min-width: 74px;
  min-height: 24px;
  align-items: center;
}

.jss31 {
  left: 0px;
  color: white;
  width: 100%;
  bottom: 0px;
  height: 40px;
  display: flex;
  z-index: 100;
  position: absolute;
  border-top: 1px solid rgba(1, 1, 1, 0.5);
  min-height: 40px;
  align-items: center;
  user-select: none;
  justify-content: center;
  background-color: rgba(1, 1, 1, 0.25);
}


.jss47 {
  width: 100%;
  height: 100%;
  display: flex;
  opacity: 1;
  overflow: hidden;
  position: relative;
  animation: 800ms ease 0s 1 normal none running fadeinpls;
  flex-wrap: wrap;
  background: rgb(34, 40, 49);
  box-shadow: none;
  padding-top: 32px;
  padding-bottom: 40px;
}


a, abbr, acronym, address, applet, article, aside, audio, b, big, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
* {
  box-sizing: border-box;
}
div {
  display: block;
}

.jss8 {
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  position: absolute;
  max-width: 100vw;
  min-width: 100vw;
  max-height: 100vh;
  min-height: 100vh;
  pointer-events: none;
  border: 0px !important;
  margin: 0px !important;
  outline: 0px !important;
  padding: 0px !important;
  overflow: hidden !important;
}

.jss69 {
  top: -8px;
  left: -4px;
  width: 288px;
  height: 668px;
  padding: 10px 6px;
  z-index: 10;
  position: absolute;
  background: black;
  box-sizing: border-box;
  border-radius: 12px;
}

.jss70 {
  top: 2px;
  left: 0px;
  width: 100%;
  height: calc(100% - 8px);
  content: "";
  z-index: 1;
  position: absolute;
  background: black;
  border-top: 2px solid rgb(159, 160, 162);
  box-shadow: rgb(255 255 255 / 50%) 0px 0px 6px 0px inset;
  border-bottom: 2px solid rgb(159, 160, 162);
  border-radius: 12px;
}

.jss71 {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: absolute;
  border-radius: 12px;
}

.jss72 {
  top: -0.5%;
  left: 10px;
  width: calc(100% - 20px);
  height: 101%;
  content: "";
  z-index: 5;
  position: absolute;
  box-shadow: white 0px 0px 60px 0px inset, rgb(255 255 255 / 50%) 0px 0px 30px 0px inset, white 0px 0px 20px 0px, rgb(255 255 255 / 50%) 0px 0px 20px 0px;
  border-radius: 24px;
  pointer-events: none;
}


.jss48 {
  width: 100%;
  height: 100%;
  padding: 0px;
  overflow: hidden scroll;
  max-height: 100%;
  min-height: 100%;
}

.jss37 {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
}

.jss38 {
  width: 54px;
  height: 54px;
  margin: 8px;
  display: flex;
  position: relative;
  align-items: center;
  border-radius: 14px;
  justify-content: center;
}



.jss38 {
  width: 54px;
  height: 54px;
  margin: 8px;
  display: flex;
  position: relative;
  align-items: center;
  border-radius: 14px;
  justify-content: center;
}

.jss14 {
  top: unset;
  left: unset;
  right: 328px;
  width: 280px;
  bottom: 12px;
  height: 652px;
  z-index: 20;
  position: absolute;
  min-width: 280px;
  min-height: 652px;
  pointer-events: all;
  margin: unset;
  overflow: hidden;

  background: url(https://i.imgur.com/JVPavDg.jpg) 0% 0% / cover no-repeat;
  transition: bottom 800ms ease 0s;
  border-radius: 6px;
  background-repeat: no-repeat;
}

.jss22 {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 24px;
  display: flex;
  z-index: 100;
  position: absolute;
  min-height: 24px;
  user-select: none;
  justify-content: center;
}

.jss24 {
  color: white;
  height: 24px;
  display: flex;
  padding: 0px 12px;
  min-width: 74px;
  min-height: 24px;
  align-items: center;
}

.jss25 {
  padding-right: 4px;
}

.jss27 {
  font-size: 0.75rem;
  line-height: 0;
  text-shadow: rgb(55 71 79) -1px 1px 0px, rgb(55 71 79) 1px 1px 0px, rgb(55 71 79) 1px -1px 0px, rgb(55 71 79) -1px -1px 0px;
}

.jss28 {
  flex: 1 1 0%;
  margin-left: 8px;
}

.jss23 {
  flex: 1 1 0%;
}

.jss24 {
  color: white;
  height: 24px;
  display: flex;
  padding: 0px 12px;
  min-width: 74px;
  min-height: 24px;
  align-items: center;
}

.jss31 {
  left: 0px;
  color: white;
  width: 100%;
  bottom: 0px;
  height: 40px;
  display: flex;
  z-index: 100;
  position: absolute;
  border-top: 1px solid rgba(1, 1, 1, 0.5);
  min-height: 40px;
  align-items: center;
  user-select: none;
  justify-content: center;
  background-color: rgba(1, 1, 1, 0.25);
}


.jss47 {
  width: 100%;
  height: 100%;
  display: flex;
  opacity: 1;
  overflow: hidden;
  position: relative;
  animation: 800ms ease 0s 1 normal none running fadeinpls;
  flex-wrap: wrap;
  background: rgb(34, 40, 49);
  box-shadow: none;
  padding-top: 32px;
  padding-bottom: 40px;
}

label + .MuiInput-formControl {
  margin-top: 16px;
}

.MuiInput-underline:after {
  left: 0;
  right: 0;
  bottom: 0;
  content: "";
  position: absolute;
  transform: scaleX(0);
  transition: transform 200ms cubic-bezier(0.0, 0, 0.2, 1) 0ms;
  border-bottom: 2px solid #FFF;
  pointer-events: none;
}


.MuiFormControl-root {
  border: 0;
  margin: 0;
  display: inline-flex;
  padding: 0;
  left: 20px;
  width: 87%;
  position: relative;
  min-width: 20px;
  flex-direction: column;
  vertical-align: top;
}
.MuiFormControl-marginNormal {
  margin-top: 16px;
  margin-bottom: 8px;
}
.MuiFormControl-marginDense {
  margin-top: 8px;
  margin-bottom: 4px;
}
.MuiFormControl-fullWidth {
  width: 100%;
}


.MuiInputAdornment-root {
  height: 0.01em;
  display: flex;
  max-height: 2em;
  align-items: center;
  white-space: nowrap;
  font-size: 13px;
}
.MuiInputAdornment-filled.MuiInputAdornment-positionStart:not(.MuiInputAdornment-hiddenLabel) {
  margin-top: 16px;
}
.MuiInputAdornment-positionStart {
  margin-right: 8px;
}
.MuiInputAdornment-positionEnd {
  margin-left: 8px;
}
.MuiInputAdornment-disablePointerEvents {
  pointer-events: none;
}


.MuiFormLabel-root {
  color: rgba(255, 255, 255, 0.7);
  padding: 0;
  font-size: 1rem;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 400;
  line-height: 1;
  letter-spacing: 0.00938em;
}
.MuiFormLabel-root.Mui-focused {
  color: #FFFFFF;
}
.MuiFormLabel-root.Mui-disabled {
  color: rgba(255, 255, 255, 0.5);
}
.MuiFormLabel-root.Mui-error {
  color: #f44336;
}
.MuiFormLabel-colorSecondary.Mui-focused {
  color: #F3A46A;
}
.MuiFormLabel-asterisk.Mui-error {
  color: #f44336;
}


@-webkit-keyframes mui-auto-fill {}
@-webkit-keyframes mui-auto-fill-cancel {}
.MuiInputBase-root {
color: #fff;
cursor: text;
display: inline-flex;
position: relative;
font-size: 1rem;
box-sizing: border-box;
align-items: center;
font-family: "Roboto", "Helvetica", "Arial", sans-serif;
font-weight: 400;
line-height: 1.1876em;
letter-spacing: 0.00938em;
}
.MuiInputBase-root.Mui-disabled {
color: rgba(255, 255, 255, 0.5);
cursor: default;
}
.MuiInputBase-multiline {
padding: 6px 0 7px;
}
.MuiInputBase-multiline.MuiInputBase-marginDense {
padding-top: 3px;
}
.MuiInputBase-fullWidth {
width: 100%;
}
.MuiInputBase-input {
font: inherit;
color: currentColor;
width: 100%;
border: 0;
height: 1.1876em;
margin: 0;
display: block;
padding: 6px 0 7px;
min-width: 0;
background: none;
box-sizing: content-box;
animation-name: mui-auto-fill-cancel;
letter-spacing: inherit;
animation-duration: 10ms;
-webkit-tap-highlight-color: transparent;
}
.MuiInputBase-input::-webkit-input-placeholder {
color: currentColor;
opacity: 0.5;
transition: opacity 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}
.MuiInputBase-input::-moz-placeholder {
color: currentColor;
opacity: 0.5;
transition: opacity 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}
.MuiInputBase-input:-ms-input-placeholder {
color: currentColor;
opacity: 0.5;
transition: opacity 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}
.MuiInputBase-input::-ms-input-placeholder {
color: currentColor;
opacity: 0.5;
transition: opacity 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}
.MuiInputBase-input:focus {
outline: 0;
}
.MuiInputBase-input:invalid {
box-shadow: none;
}
.MuiInputBase-input::-webkit-search-decoration {
-webkit-appearance: none;
}
.MuiInputBase-input.Mui-disabled {
opacity: 1;
}
.MuiInputBase-input:-webkit-autofill {
animation-name: mui-auto-fill;
animation-duration: 5000s;
}
label[data-shrink=false] + .MuiInputBase-formControl .MuiInputBase-input::-webkit-input-placeholder {
opacity: 0 !important;
}
label[data-shrink=false] + .MuiInputBase-formControl .MuiInputBase-input::-moz-placeholder {
opacity: 0 !important;
}
label[data-shrink=false] + .MuiInputBase-formControl .MuiInputBase-input:-ms-input-placeholder {
opacity: 0 !important;
}
label[data-shrink=false] + .MuiInputBase-formControl .MuiInputBase-input::-ms-input-placeholder {
opacity: 0 !important;
}
label[data-shrink=false] + .MuiInputBase-formControl .MuiInputBase-input:focus::-webkit-input-placeholder {
opacity: 0.5;
}
label[data-shrink=false] + .MuiInputBase-formControl .MuiInputBase-input:focus::-moz-placeholder {
opacity: 0.5;
}
label[data-shrink=false] + .MuiInputBase-formControl .MuiInputBase-input:focus:-ms-input-placeholder {
opacity: 0.5;
}
label[data-shrink=false] + .MuiInputBase-formControl .MuiInputBase-input:focus::-ms-input-placeholder {
opacity: 0.5;
}
.MuiInputBase-inputMarginDense {
padding-top: 3px;
}
.MuiInputBase-inputMultiline {
height: auto;
resize: none;
padding: 0;
}
.MuiInputBase-inputTypeSearch {
-moz-appearance: textfield;
-webkit-appearance: textfield;
}

.jss893 {
  width: 100%;
  height: 100%;
  display: flex;
  opacity: 1;
  overflow: hidden;
  position: relative;
  animation: 800ms ease 0s 1 normal none running fadeinpls;
  flex-wrap: wrap;
  background: rgb(34, 40, 49);
  box-shadow: none;
  padding-top: 32px;
  padding-bottom: 40px;
}


.jss936 {
  width: calc(100% - 64px);
  height: auto;
  display: flex;
  padding: 16px;
  overflow: hidden scroll;
  position: relative;
  max-height: 80%;
  min-height: 30%;
  align-items: center;
  justify-content: center;
  background-color: rgb(48, 71, 94);
}

.MuiButton-containedSecondary {
  color: rgba(0, 0, 0, 0.87);
  background-color: #F3A46A;
  border-radius: 4px;
}

.MuiButton-containedSizeSmall {
  padding: 4px 10px;
  font-size: 0.8125rem;
}

.MuiButton-containedPrimary {
  color: rgba(0, 0, 0, 0.87);
  background-color: #94EF78;
  border-radius: 4px;
}












