.jss2570 {
    width: 100%;
    height: 115%;
    display: flex;
    opacity: 1;
    overflow: hidden;
    position: relative;
    animation: 800ms ease 0s 1 normal none running fadeinpls;
    flex-wrap: wrap;
    background: rgb(34, 40, 49);
    box-shadow: none;
    padding-top: 45px;
    padding-bottom: 40px;
    bottom: 25px;
}

.jss2571 {
    width: 100%;
    height: 100%;
    padding: 0px 16px;
    overflow: hidden scroll;
    max-height: 100%;
    min-height: 100%;
}

.jss2564 {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.jss2566 {
    display: flex;
    padding: 0px 0px 16px;
    flex-direction: column;
}

.jss2567 {
    flex: 1 1 0%;
    width: 100%;
    display: flex;
    padding: 0px;
    align-items: center;
    place-content: flex-start;
    flex-direction: column;
}

.jss2568 {
    width: 100%;
    display: flex;
    margin-top: 16px;
    text-transform: capitalize;
}

.jss2568 .icon-green {
    color: rgb(174, 213, 129);
}

.jss2568 .icon {
    display: flex;
    justify-content: flex-end;
}

.jss1641 {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.jss1643 {
    display: flex;
    padding: 0px 0px 16px;
    flex-direction: column;
}

.jss1643 .cash {
    color: rgb(174, 213, 129);
}

.jss2568 div {
    flex: 1 1 0%;
    display: flex;
    align-items: center;
}

.jss1647 {
    width: 100%;
    height: 100%;
    display: flex;
    opacity: 1;
    overflow: hidden;
    position: relative;
    animation: 800ms ease 0s 1 normal none running fadeinpls;
    flex-wrap: wrap;
    background: rgb(34, 40, 49);
    box-shadow: none;
    padding-top: 32px;
    padding-bottom: 40px;
}

.jss1648 {
    width: 100%;
    height: 99%;
    padding: 0px 16px;
    overflow: hidden scroll;
    max-height: 100%;
    min-height: 95%;
}

.jss1641 {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.jss1643 {
    display: flex;
    padding: 0px 0px 16px;
    flex-direction: column;
}

.jss1643 div {
    flex: 1 1 0%;
    color: white;
    display: flex;
    align-items: center;
    margin-bottom: 16px;
}

.jss1643 .cash {
    color: rgb(174, 213, 129);
}

.jss1643 div h6 {
    margin-left: 16px;
}

.jss1643 .bank {
    color: rgb(77, 208, 225);
}

.jss1643 .casino {
    color: rgb(255, 64, 129);
}

.jss1643 .paycheck {
    color: rgb(214, 228, 13);
}

.jss1643 .primejob {
    color: rgb(121, 85, 72) !important;
}

.jss1643 .paycheck {
    color: rgb(214, 228, 13);
}

.jss1643 .secondjob {
    color: rgb(219, 110, 8);
}


.MuiTypography-h6 {
    font-size: 1.0rem;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    
    line-height: 1.6;
    letter-spacing: 0.0075em;
}

.jss1644 {
    flex: 1 1 0%;
    width: 100%;
    display: flex;
    padding: 0px;
    align-items: center;
    place-content: flex-start;
    flex-direction: column;
}

.jss1645 {
    width: 100%;
    display: flex;
    margin-top: 16px;
    text-transform: capitalize;
}

.jss1645 div {
    flex: 1 1 0%;
    display: flex;
    align-items: center;
}

.MuiTypography-body1 {
    font-size: 0.9rem;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    line-height: 1.0;
}

.jss1645 .icon-green {
    color: rgb(174, 213, 129);
}

.jss1645 .icon {
    display: flex;
    justify-content: flex-end;
}
