@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap');

*{
  margin: 0;
  padding: 0;
}



.container-wallpaper{
  width: 100%;
  margin: auto;
  margin-top: 20px;
}

#images-top {
    background-image: url(https://cdn.discordapp.com/attachments/749107585872822323/892938088358240286/Screenshot_26.png);
    height: 53px;
    width: 86px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
}

#header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  min-height: 70px;
  padding: 0 20px;
}

#header h2{font-size: 1rem;}

#search_box{
  position: relative;
  width: 350px;
}



#search_box i{
  color: black;
  position: absolute;
  cursor: pointer;
  top: 25%;
  right: 4%;
  transition: 1s;
}

#search_box i:hover{color: orange;}

#grid{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: flex-start;
}

.img-wallpaper{
  width: 46%;
  height: 213px;
  margin-top: 15px;
  background-position: center;
  background-size: cover;
  border-radius: 14px;
  cursor: pointer;
}

.img-wallpaper:hover{
    box-shadow: 0 0 5px rgb(248, 141, 1);
    border: 1px solid rgb(248, 141, 1);
  }

@media(max-width:1280px){
 .container{width: 100%;}
}

@media(max-width:768px){
  #main{width: 95%;}

  .img{width: 47%;}

  #header{
    margin: 10px 0;
    padding: 20px;
    gap: 10px;
    justify-content: center;
  }

  #header h2{padding: 5px 0;}
}

@media(max-width:480px){
  #header h2{
    text-align: center;
    font-size: 1.5rem;
  }

  #search_box{
    width: 80%;
    margin: auto;
  }

  #search_box input{font-size: .7rem;}
}


@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;900&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
  font-family: 'Montserrat', sans-serif;
  font-size: 100%;
}

img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
section{
  min-height:100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 100px 0;
}
.galeria-teste{

 
}
.header{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.header h1{
  cursor: pointer;
  font-size: 40px;
  font-weight: 900;
  letter-spacing: -2px;
}



.gallery{
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)) ;
  margin-top: 50px;
  grid-gap: 20px;
}
.item{
  width: 100%;
  height: auto;
  position: relative;
  overflow: hidden;
  transition: .3s ease box-shadow;
}

.item:hover{
  box-shadow: 0px 0px 20px 3px #00000042;
}
.item:nth-last-child(1){
  margin-bottom: 0;
}
.item h3{
  width: 100%;
  font-size: 17px;
  padding: 20px;
  position: absolute;
  background-color: #00000040;
  color: aliceblue;
  bottom: -183px;
  font-weight: 300;
  transition: .5s ease-in-out bottom;
}
.item:hover h3{
  bottom: -22px;
}
.load-more{
  display: inline-block;
  margin-top:30px;
  padding: 20px 50px;
  background-color: black;
  text-decoration: none;
  text-transform: uppercase;
  color: azure;
  font-weight: 500;
  cursor: pointer;
}
@media only screen and (min-width: 900px){
 .container{
   max-width: 1160px;
   padding: 100px;
 }
 .header{
   flex-direction: row;
   justify-content: space-between;
 }
 .header h1{
   font-size: 50px;
 }
 .header input{
   font-size: 24px;
 }
 .header ion-icon{
   font-size: 24px;
 }
 .gallery{
   grid-gap: 30px;
 }
 
}

@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap');

*{
  margin: 0;
  padding: 0;
}



.container-wallpaper{
  width: 100%;
  margin: auto;
  margin-top: 20px;
}

#images-top {
    background-image: url(https://cdn.discordapp.com/attachments/749107585872822323/892938088358240286/Screenshot_26.png);
    height: 53px;
    width: 86px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
}

#header{
  display: flex;
  justify-content: space-between;
  align-hovereffects: center;
  flex-wrap: wrap;
  min-height: 70px;
  padding: 0 20px;
}

#header h2{font-size: 1rem;}

#search_box{
  position: relative;
  width: 350px;
}



#search_box i{
  color: black;
  position: absolute;
  cursor: pointer;
  top: 25%;
  right: 4%;
  transition: 1s;
}

#search_box i:hover{color: orange;}

#grid{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-hovereffects: flex-start;
}

.img-wallpaper{
  width: 46%;
  height: 213px;
  margin-top: 15px;
  background-position: center;
  background-size: cover;
  border-radius: 14px;
  cursor: pointer;
}

.img-wallpaper:hover{
    box-shadow: 0 0 5px rgb(248, 141, 1);
    border: 1px solid rgb(248, 141, 1);
  }

@media(max-width:1280px){
 .container{width: 100%;}
}

@media(max-width:768px){
  #main{width: 95%;}

  .img{width: 47%;}

  #header{
    margin: 10px 0;
    padding: 20px;
    gap: 10px;
    justify-content: center;
  }

  #header h2{padding: 5px 0;}
}

@media(max-width:480px){
  #header h2{
    text-align: center;
    font-size: 1.5rem;
  }

  #search_box{
    width: 80%;
    margin: auto;
  }

  #search_box input{font-size: .7rem;}
}


@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;900&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
  font-family: 'Montserrat', sans-serif;
  font-size: 100%;
}

img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
section{
  min-height:100vh;
  width: 100%;
  display: flex;
  align-hovereffects: center;
  justify-content: center;
  margin: 100px 0;
}
.galeria-teste{

 
}
.header{
  display: flex;
  flex-direction: column;
  align-hovereffects: center;
}
.header h1{
  cursor: pointer;
  font-size: 40px;
  font-weight: 900;
  letter-spacing: -2px;
}



.gallery{
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)) ;
  margin-top: 50px;
  grid-gap: 20px;
}
.hovereffect{
  width: 270px;
  margin-top: 10px;
  margin-left: 5px;
  height: 90px;
  position: relative;
  overflow: hidden;
  border-radius: 4px;
  transition: box-shadow 0.3s ease 1s;
}

.hovereffect:hover{
  box-shadow: 0px 0px 20px 3px #00000042;
}
.hovereffect:nth-last-child(1){
  margin-bottom: 0;
}
.hovereffect h3{
  width: 93%;
  left: 10px;
  
  border-radius: 4px;
  font-size: 17px;
  padding: 30px;
  position: absolute;
  background-color: #000000a6;

  /* background: rgb(0 0 0 / 60%); */
  /* backdrop-filter: blur(2px); */
  color: aliceblue;
  bottom: -183px;
  height: 50%;
  font-weight: 300;
  /* transition: .5s ease-in-out bottom; */
}
.hovereffect:hover h3{
  bottom: 20px;
}

/* Call History */

.hovereffect-callHistory{
  width: 270px;
  margin-top: 10px;
  margin-left: 5px;
  height: 80px;
  position: relative;
  overflow: hidden;
  border-radius: 4px;
  transition: box-shadow 0.3s ease 1s;
}

.hovereffect-callHistory:hover{
  box-shadow: 0px 0px 20px 3px #00000042;
}
.hovereffect-callHistory:nth-last-child(1){
  margin-bottom: 0;
}
.hovereffect-callHistory h3{
  width: 93%;
  left: 10px;
  
  border-radius: 4px;
  font-size: 17px;
  padding: 30px;
  position: absolute;
  background-color: #000000a6;

  /* background: rgb(0 0 0 / 60%); */
  /* backdrop-filter: blur(2px); */
  color: aliceblue;
  bottom: -183px;
  font-weight: 300;
  transition: .5s ease-in-out bottom;
}
.hovereffect-callHistory:hover h3{
  bottom: -22px;
}

/* end */

.load-more{
  display: inline-block;
  margin-top:30px;
  padding: 20px 50px;
  background-color: black;
  text-decoration: none;
  text-transform: uppercase;
  color: azure;
  font-weight: 500;
  cursor: pointer;
}
@media only screen and (min-width: 900px){
 .container{
   max-width: 1160px;
   padding: 100px;
 }
 .header{
   flex-direction: row;
   justify-content: space-between;
 }
 .header h1{
   font-size: 50px;
 }
 .header input{
   font-size: 24px;
 }
 .header ion-icon{
   font-size: 24px;
 }
 .gallery{
   grid-gap: 30px;
 }
 
}


.transferir {
  margin-left: 94px;
}


#uploadPic {
  width: 43px;
  height: 40px;
  /* background-color: #fff; */
  color: #f3f3f3;
  border: none;
  font-size: 22px;

  padding-left: 26px;

}

