html {
  overflow: hidden;
  font-family:verdana;
}
@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,700,500italic,900,700italic,900italic);
@import url(//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css);
@import url(https://fonts.googleapis.com/css?family=Titillium+Web:400,200,300,600,700);

.full-screen {
  width: 100%;
  height: 85%;
  top:1%;
  display: flex;
  align-items: center;
}

.Radio-Form {
  padding-top:340px;
  width:150px;
  background-color:rgba(0,0,0,0);
  background:transparent;
  text-align:center;
}
.left {
  float:left;
}
#power {
  min-width:35px;
  min-height:55px;
  margin-left:157px;
   margin-top:-80px;

}
#volumeUp {
  min-width:25px;
  min-height:60px;
  margin-left: 61px;
  margin-top: -5px;

}
#volumeDown {
  min-width:25px;
  min-height:60px;
  margin-left: 63px;
  margin-top: 8px;
}

#volumeUp:hover::before { 
  content: attr(title); display: block; 
  position:relative;
  top:-20px;
  font-size:12px;
  color:white;
  background-color:rgba(83, 83, 83, 0.644);
  padding:2px;
  border-radius: 3px;
}
#volumeDown:hover::before { 
  content: attr(title); display: block; 
  position:relative;
  top:-20px;
  font-size:12px;
  color:white;
  background-color:rgba(83, 83, 83, 0.644);
  padding:2px;
  border-radius: 3px;
}

#power:hover::before { 
  content: attr(title); display: block; 
  position:relative;
  top:-20px;
  font-size:12px;
  color:white;
  background-color:rgba(83, 83, 83, 0.644);
  padding:2px;
  border-radius: 3px;
}



input {
  background-color:rgba(0,0,0,0);
  background:transparent;
  text-align:center;
  color:white;
  border:none; 
  font-size:20px;
  outline:0;
  padding-left: 103px;
  margin: -76px;
}
 input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button { -webkit-appearance: none; margin: 0; }
.radio-container {
  background-image: url("nui://radio/html/background.png");
  background-repeat:no-repeat;
  background-size:100% 100%;
  width: 300px;
  height: 610px;
  border-radius: 10px;
  margin-left:82%;
  margin-top:31%;
  opacity: 1;
  overflow: hidden;
  display: none;
  z-index: 9999999;
  padding-top:4%;
  padding-left:5px;
}